<!-- О нас -->
<section class="section" id="about-us">
  <div class="container container-about">
    <div class="flex-about">
      <ul class="gallery">
        <li class="item">
          <picture>
            <source
              srcset="./images/car_wash3.jpg 1x, ./images/car_wash3.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/car_wash3.jpg 1x, ./images/car_wash3.jpg 2x"
              media="(min-width: 768px)"
            />
            <img src="./images/car_wash3.jpg" alt="BarberShop" />
          </picture>
        </li>
        <li class="item">
          <picture>
            <source
              srcset="./images/car_wash4.jpg 1x, ./images/car_wash4.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/car_wash4.jpg 1x, ./images/car_wash4.jpg 2x"
              media="(min-width: 768px)"
            />
            <img src="./images/car_wash4.jpg" alt="BarberShop" />
          </picture>
        </li>
      </ul>

      <div>
        <p class="name-section">Про нас</p>
        <h2 class="title-about">Автомийка ฿e$t car wash</h2>

        <p class="description">
          Ми пропонуємо сучасне високоякісне обслуговування легкових, легких
          вантажних автомобілів та мікроавтобусів в умовах та на обладнанні СТО.
        </p>
        <p class="main-text">
          Ми команда, яка ніколи не зупиняється на досягнутому. На якість
          процесу впливає в першу чергу персонал, саме тому у нас працюють
          кваліфіковані співробітники! Презентабельний зовнішній вигляд
          автомобіля залежить від його чистоти. Тому важливо вибрати якісну
          автомийку в Києві. Звичайно, завжди можна віддати перевагу класичний
          варіант - ручне миття автомобілів або безконтактне миття авто. Однак
          ритм життя мегаполісу вимагає економії часу та сил, тому таке
          завдання, як миття авто, найкраще довірити професіоналам. Фахівці
          автомийки ฿e$t car wash подбають про чистоту Вашого чотириколісного
          друга.
        </p>

        <a href="#clients-form-ref" class="button-about">зв'язатись з нами</a>
      </div>
    </div>
  </div>
</section>
