<section class="section">
  <div class="container">
    <div class="adv_wrap">
      <div class="descr_wrap">
        <span class="adv_underline"> </span>
        <p class="advant_title">Новітні знання та технології</p>
        <h2 class="adv_header">Чому звертаються саме до нас?</h2>
        <p class="adv_description">
          Завдяки розробленій технології, ми знаємо, як зменшити витрати хімії,
          миючих засобів та поліролей на 20-30%. Система оплати має зручний
          функціонал (розрахунок можливий крипто-автивами).
        </p>
      </div>
      <ul class="adv_list">
        <li class="adv_item">
          <p class="adv_num">
            602
            <svg class="icon-plus" width="9" height="9">
              <use href="./images/sprite.svg#icon-plus"></use>
            </svg>
          </p>
          <p class="adv_num_descr">задоволенні клієнти</p>
        </li>
        <li class="adv_item">
          <p class="adv_num">
            1
            <svg class="icon-plus" width="9" height="9">
              <use href="./images/sprite.svg#icon-plus"></use>
            </svg>
          </p>
          <p class="adv_num_descr">нагороди за хороший сервіс</p>
        </li>
        <li class="adv_item">
          <p class="adv_num">
            3
            <svg class="icon-plus" width="9" height="9">
              <use href="./images/sprite.svg#icon-plus"></use>
            </svg>
          </p>
          <p class="adv_num_descr">Найкращі працівники Києва</p>
        </li>
        <li class="adv_item">
          <p class="adv_num">
            507
            <svg class="icon-plus" width="9" height="9">
              <use href="./images/sprite.svg#icon-plus"></use>
            </svg>
          </p>
          <p class="adv_num_descr">Подарунки постійним клієнтам</p>
        </li>
      </ul>
    </div>
  </div>
</section>
