<section id="clients-form-ref" class="contact-info">
  <div class="container">
    <form class="clients-form" autocomplete="off">
      <h2>Онлайн-запис</h2>
      <p class="master-subtitle">
        Може здійснюватись найзручнішим для вас спосібом :
      </p>

      <div>
        <li class="social-item">
          <a
            href="https://www.instagram.com/bestcarwash.info/"
            aria-label="Ссылка на Инстаграм"
            class="link"
          >
            <svg class="icon-socials" width="20" height="20">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <!-- 
        <label class="form-field-item">
          <input
            class="form-input"
            type="text"
            pattern="^^[А-Яа-яёЁЇїІіЄєҐґ]+$"
            name="name"
            placeholder="&#xa0;"
            required
          />
          <span class="form-label">Ім'я*</span>
        </label> -->

        <!-- <label class="form-field-item">
          <input
            class="form-input"
            type="tel"
            name="tel"
            pattern="[0-9]{7,10}"
            placeholder="&#xa0;"
            minlength="7"
            maxlength="19"
            required
          />
          <span class="form-label">Телефон*</span>
        </label> -->
      </div>
      <li class="social-item">
        <a
          href="https://www.instagram.com/bestcarwash.info/"
          aria-label="Ссылка на Инстаграм"
          class="link"
        >
          <svg class="icon-socials" width="20" height="20">
            <use href="./images/icons8-viber-20.svg"></use>
          </svg>
        </a>
      </li>
      <!-- <label class="form-field-textarea">
        <textarea
          class="form-input"
          name="message"
          placeholder="Доброго дня) Ми задоволені вашою мийкою"
        ></textarea>
        <span class="form-label-message">повідомлення</span>
      </label>

      <button class="clients-button">відправити</button> -->
    </form>
    <div class="contacts" id="contacts">
      <h2>Контакти</h2>
      <div class="contacts-block">
        <address>
          <ul>
            <li class="contacts-address">
              <button
                class="contacts-address-button"
                aria-label="Кнопка, открывающая карту"
                data-modal-open
              >
                <svg width="24" height="24" class="icon-map-pin">
                  <use href="./images/sprite.svg#icon-map-pin"></use>
                </svg>
                вул. Вереснева, 3Б, м.Кіїв
              </button>
            </li>
            <li class="contacts-footer">
              <a href="tel:+380441111111" class="contacts-tel">
                <svg width="24" height="24" class="icon-phone">
                  <use href="./images/sprite.svg#icon-phone"></use>
                </svg>
                +38 063 822 68 77</a
              >
            </li>
            <li class="contacts-footer">
              <a href="mailto:bestcarwash.info@gmail.com@email.com">
                <svg width="24" height="24" class="icon-mail">
                  <use href="./images/sprite.svg#icon-mail"></use>
                </svg>
                bestcarwash.info@gmail.com</a
              >
            </li>
          </ul>
        </address>
        <div class="working-hours">
          <div class="working-hours-header">
            <span class="strip"></span>
            <h3>Режим роботи</h3>
          </div>
          <p>Без вихідних з 7:00 до 22:00</p>
        </div>
      </div>
    </div>
  </div>
</section>
