<section class="section">
  <div class="container">
    <p class="gallery-title">
      МИ ЕКСПЕРТИ СВОЄЇ СПРАВИ, ТОМУ: ЛЮБИМО, ЩОБ БУЛО БОМБА!
    </p>
    <ul class="images">
      <li class="item">
        <picture>
          <source
            srcset="./images/car_wash01.jpg 1x, ./images/car_wash01.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/car_wash01.jpg 1x, ./images/car_wash01.jpg 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="./images/car_wash01.jpg 1x, ./images/car_wash01.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture"
            src="./images/fon_prices.jpg"
            alt="Барбер с машинкой"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="./images/car_wash02.jpg 1x, ./images/car_wash02.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/car_wash02.jpg 1x, ./images/car_wash02.jpg 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="./images/car_wash02.jpg 1x, ./images/car_wash02.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture"
            src="./images/fon_prices.jpg"
            alt="Барбер с помазком"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="./images/car_wash03.jpg 1x, ./images/car_wash03.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/car_wash03.jpg 1x, ./images/car_wash03.jpg 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="./images/car_wash03.jpg 1x, ./images/car_wash03.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture"
            src="./images/fon_prices.jpg"
            alt="Мойщик с полотенцем"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="./images/car_wash04.jpg 1x, ./images/car_wash04.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/car_wash04.jpg 1x, ./images/car_wash04.jpg 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="./images/car_wash04.jpg 1x, ./images/car_wash04.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture"
            src="./images/car_wash04.jpg"
            alt="Барбер с опасной бритвой"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
