<!-- Секция наши мастера -->

<section class="section masters" id="masters">
  <div class="container our-masters">
    <p class="description-master">для тих хто цінує якість</p>
    <h2 class="section-title">Поради</h2>
    <ul class="list master-list">
      <li class="master-item">
        <p class="master-subtitle">1</p>
        <p class="master-title">
          Не залишайте автомобілі під деревами або ліхтарними стовпами. З дерев
          летить пилок, з гілок на ваше авто гадять птахи;
        </p>
        <!-- <picture>
          <source
            srcset="./images/moika3.jpg 1x, ./images/moika3.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/moika3.jpg 1x, ./images/moika3.jpg 2x"
            media="(max-width:1199px)"
          />
          <source
            srcset="./images/moika3.jpg 1x, ./images/moika3.jpg 2x"
            media="(min-width: 1200px)"
          />
          <img class="master-img" src="./images/moika3.jpg " alt="John Smith" />
        </picture>  -->

        <!-- <h3 class="master-title">John Smith</h3> -->

        <ul class="list social-list">
          <!-- <li class="social-item">
            <a href="#" aria-label="Ссылка на Инстаграм" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Твитер" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Фейсбук" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Линкедин" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use></svg
            ></a>
          </li>-->
        </ul>
      </li>
      <li class="master-item">
        <p class="master-subtitle">2</p>
        <p class="master-title">
          Відразу ж видаляйте з кузова сліди життєдіяльності птахів, вони
          роз'їдають ЛФП;
        </p>
        <!-- <picture>
          <source
            srcset="./images/moika4.jpg 1x, ./images/moika4.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/moika4.jpg 1x, ./images/moika4.jpg 2x"
            media="(max-width:1199px)"
          />
          <source
            srcset="./images/moika4.jpg 1x, ./images/moika4.jpg 2x"
            media="(min-width: 1200px)"
          />
          <img
            class="master-img"
            src="./images/moika4.jpg "
            alt="Michele Doe"
          />
        </picture> -->

        <!-- <h3 class="master-title">Michele Doe</h3>
        <p class="master-subtitle">КРАВЕЦЬ</p> -->
        <!-- <ul class="list social-list">
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Инстаграм" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Твитер" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Фейсбук" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Линкедин" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li> -->
      </li>

      <li class="master-item">
        <p class="master-subtitle">3</p>
        <p class="master-title">
          Віддавайте в хімчистку авто відразу після того, як на сидіннях або
          підлокітниках з'явилися плями. Застарілий бруд складніше та дорожче
          виводити;
        </p>
        <!-- <picture>
          <source
            srcset="./images/moika1.jpg 1x, ./images/moika1.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/moika1.jpg 1x, ./images/moika1.jpg 2x"
            media="(max-width:1199px)"
          />
          <source
            srcset="./images/moika1.jpg 1x, ./images/moika1.jpg 2x"
            media="(min-width: 1200px)"
          />
          <img class="master-img" src="./images/moika1.jpg " alt="Alan Black" />
        </picture> -->

        <!-- <h3 class="master-title">Alan Black</h3>
        <p class="master-subtitle">МОДЕЛЬЄР</p> -->
        <!-- <ul class="list social-list last"> -->
      </li>

      <li class="master-item">
        <p class="master-subtitle">4</p>
        <p class="master-title">
          Реагенти роз'їдають ЛФП, тому якісне миття особливо важливе в зимовий
          період;
        </p>
        <!-- <li class="social-item">
            <a href="#" aria-label="Ссылка на Инстаграм" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Твитер" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Фейсбук" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Линкедин" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use></svg
            ></a>
          </li>-->
      </li>
    </ul>
    <h2 class="section-title">Автомийка не несе відповідальності:</h2>
    <ul class="list master-list">
      <li class="master-item">
        <p class="master-subtitle">
          1. За вихід із ладу електрообладнання двигуна(який має пошкодження
          ізоляції) під час його миття.
        </p>
      </li>
      <li class="master-item">
        <p class="master-subtitle">
          2. За зрив неякісного лакофарбованого покриття під час миття кузова
          автомобілля.
        </p>
      </li>
      <li class="master-item">
        <p class="master-subtitle">
          3. За потрапляння води в салон авто під час миття його кузова, через
          зношення ущільнювачів.
        </p>
      </li>
      <li class="master-item">
        <p class="master-subtitle">
          4. За погано закріпленні деталі (молдінги, дзеркала, вітровики,
          бронеплівки та інше)
        </p>
      </li>
    </ul>
  </div>
</section>
