<section id="services-and-prices" class="services-prices section overlay">
  <div class="container">
    <p class="subtitle">
      Вас запевняємо, що цей перелік дозволяє виконати будь-який каприз.
    </p>
    <h2 class="title">Послуги</h2>
    <ul class="price-list">
      <li class="left-side">
        <ul class="list">
          <!-- <li class="price-list-item">
            <p class="price-list-service">__________________________</p>
            <span class="price-underline"></span>
            <p class="price-list-value">легкові</p>
            <p class="price-list-value">кросовери, мінівени, преміум авто</p>
            <p class="price-list-value">джипи, мікро-автобуси</p>
            <p class="price-list-value">велико-габаритні</p>
          </li> -->
          <li class="price-list-item">
            <p class="price-list-service">
              Комплексна мийка (мийка, рідкий віск, пилосос з багажником,
              натирання пластику, скла, гуми)
            </p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">300 грн.</p>
            <p class="price-list-value">400 грн.</p>
            <p class="price-list-value">450 грн.</p>
            <p class="price-list-value">500грн.</p> -->
          </li>
          <li class="price-list-item">
            <p class="price-list-service">безконтактна мийка</p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">100 грн.</p>
            <p class="price-list-value">150 грн.</p>
            <p class="price-list-value">200 грн.</p>
            <p class="price-list-value">250грн.</p> -->
          </li>
          <li class="price-list-item">
            <p class="price-list-service">експрес мийка (з піною)</p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">100 грн.</p>
            <p class="price-list-value">100 грн.</p>
            <p class="price-list-value">130 грн.</p>
            <p class="price-list-value">150грн.</p> -->
          </li>
          <li class="price-list-item">
            <p class="price-list-service">експрес мийка (без піною)</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">
              Прибирання салону (пилосос + вологе прибирання)
            </p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">від 100 грн.</p>
            <p class="price-list-value">від 130</p>
            <p class="price-list-value">від 150 грн.</p>
            <p class="price-list-value">від 180грн.</p> -->
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Багажне відділення</p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">від 100 грн.</p>
            <p class="price-list-value">від 130</p>
            <p class="price-list-value">від 150 грн.</p>
            <p class="price-list-value">від 180грн.</p> -->
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Ридкий віск</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Натирання пластику</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Протирання скла</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Лобове скло</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Натирання гуми</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Хімчистка дисків</p>
            <span class="price-underline"></span>
          </li>

         
          
         
          
        </ul>
      </li>
      <li class="right-side">
        <ul class="list">
          <li class="price-list-item">
            <p class="price-list-service">Твердий віск</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Твердий віск (механічна обробка)</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Мийка двигуна</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Зняття комах</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Мийка гумових (тканевих) килимів</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Збиття днища</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Обробка шкіри салону</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Обробка скла засобом "АНТИДОЩ"</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Зняття бітуму,смоли</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Чистка салону від шерсті</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Хімчистка салону</p>
            <span class="price-underline"></span>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Полірування кузова</p>
            <span class="price-underline"></span>
          </li>
            <!-- <span class="price-underline"></span>
            <p class="price-list-value"></p> -->
          </li>
          
          <!-- <li class="price-list-item">
            <p class="price-list-service" class="price-list-value">
              3. За потрапляння води в салон авто під час миття його кузова,
              через зношення ущільнювачів.
            </p>
            <!--
            <span class="price-underline"></span>
            <p class="price-list-value">від 200 грн.</p> -->
          </li> -->
          <!-- <li class="price-list-item">
            <p class="price-list-service" class="price-list-value">
              4. За погано закріпленні деталі (молдінги, дзеркала, вітровики,
              бронеплівки та інше)
            </p> -->
            <!-- <span class="price-underline"></span>
            <p class="price-list-value">від 200 грн.</p> -->
          </li>
        </ul>
      </li>
    </ul>

    <div class="button-center">
      <a href="#clients-form-ref" class="button-contacts"
        >замовити прямо зараз</a
      >
    </div>
  </div>
</section>
