<section id="services-and-prices" class="services-prices section overlay">
  <div class="container">
    <p class="subtitle">
      Вас запевняємо, що цей перелік дозволяє виконати будь-який каприз.
    </p>
    <h2 class="title">Послуги</h2>
    <ul class="price-list">
      <li class="left-side">
        <ul class="list catalog__list">
          <li class="catalog__item">
            <p class="price-list-service">Комплексна мийка</p>
            <!-- <span class="price-underline"></span>
            <p class="price-list-value">
              (мийка, рідкий віск, пилосос з багажником, натирання пластику,
              скла, гуми)
            </p> -->
          </li>
          <li class="catalog__item">
            <p class="price-list-service">експрес мийка (з піною)</p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          </li>
          <li class="catalog__item">
            <p class="price-list-service">експрес мийка (без піни)</p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          </li>
          <li class="catalog__item">
            <p class="price-list-service">
              Прибирання салону (пилосос + вологе прибирання)
            </p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          </li>
        </ul>
      </li>
      <li class="right-side">
        <ul class="list catalog__list">
          <li class="catalog__item">
            <p class="price-list-service">Хімчистка дисків</p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">от 50 грн.</p> -->
          </li>
          <li class="catalog__item">
            <p class="price-list-service">Мийка двигуна</p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          </li>
          <li class="catalog__item">
            <p class="price-list-service">Мийка гумових (тканевих) килимів</p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">от 300 грн.</p> -->
          </li>
          <li class="catalog__item">
            <p class="price-list-service" class="price-list-value">
              Полірування кузова
            </p>
            <span class="price-underline"></span>
            <!-- <p class="price-list-value">от 200 грн.</p> -->
          </li>
        </ul>
      </li>
    </ul>
    <div class="button-center">
      <a href="#clients-form-ref" class="button-contacts">онлайн-запись</a>
    </div>
  </div>
</section>

<!-- <div class="button-center">
      <a href="#clients-form-ref" class="button-contacts"
        >замовити прямо зараз</a
      >
    </div>
  </div>
</section> -->
